<!DOCTYPE html>
<html>
  <head>
    <title>Password Reset</title>
    <style>
      .title {
        font-family: "Noto Sans Arabic", sans-serif;
        font-weight: bold;
      }

      .content {
        font-family: "Poppins", sans-serif;
      }

      body {
        font-family: "Noto Sans Arabic", sans-serif;
        padding: 20px;
      }
    </style>
  </head>

  <body>
    <p>Dear <%= name %>,</p>
    <div class="content">
      <p>
        A password reset was requested for your account. Use the otp below to
        reset your password. Your Coe is
        <strong> <%= otp %> </strong>
      </p>
    </div>
    <p>Sincerely,</p>
    <p>Insight Flow Team</p>
  </body>
</html>
